.container-fluid {
    height: 88vh;
    margin-top: -10px;
    background-color: rgba(238, 205, 22, 0.522);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

input[type=text] {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: none;
    padding: 10px;
}
