.container-fluid {
    background-color: rgba(238, 205, 22, 0.522);
    padding: 10px;
}

.repo {
    min-height: 250px;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 5px solid black;
}

.repo a {
    color: #f313d5;
    text-decoration: none;
    font-size: 17px;
    font-family: italic;
}

.userdetail {
    padding: 10px 30px;
    max-width: 700px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    background-color: bisque;
}

.userdetail a {
    text-decoration: none;
    color: inherit;
}

.moredetail {
    padding: 20px;
}

.userdetail p {
    font-weight: bold;
}

.img-fluid {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 200px;
}
